h1 {
    font-family: 'Playpen Sans', cursive;
    font-size: 48px;
}

h2 {
    font-family: 'Playpen Sans', cursive;
    font-size: 24px;
}

input {
    width: 100%;
    margin: 10px 0;
}

textarea {
    width: 100%;
    resize: none;
    height: 200px;
    margin-top: 10px;
}

button {
    border: none;
    width: 150px;
    margin: 20px auto;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    background: #97d1d0;
}